

h1{
    margin: auto;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -5px;
    color: #ab6700;
    text-shadow: 0 5px 6px #ffffff;
    font-family: Comic Sans MC, Comic Sans, curvise;

    border-left: 0;
    border-right: 0;
    border-top: 10px;
    border-bottom: 15px;
    border-style: double;
    border-radius: 80%;
    border-color: rgb(140, 31, 31);
}

header{
    margin-top: 50px;
    background-image: url(https://i1-e.pinimg.com/1200x/02/5e/34/025e3499abe1bff6c50039bc9a3c4a32.jpg);
    background-repeat: repeat-x;
    background-size: contain;
}

body{
    background-image: url(https://i.pinimg.com/736x/4c/eb/35/4ceb353cf329eacee6fa7f476274406c.jpg) ;
    background-size: cover;
}

img{
    margin: 20px;
    width: 200px;
    height: 200px;
}

div{
    display: flex;
    width: 100%;
    gap: 10px;
    margin: auto;
}

nav{
    width: 300px ;
}

article{
    width: 60%;
    margin: auto;
    text-align: center;


}

#Bolo{
    padding-top: 100px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}